body {
  font-family: "Lato", sans-serif;
}

h1, .h1 {
  font-weight: 300;
}
a {
  color: #444;
}
a:hover {
  color: #383838;
}
img {
  max-width:100%;
}
html,body {
  height: 100%;
}
.nav-tabs .nav-link {
  background-color: #dedede;
  border: none;
  border-right: 1px solid #5f6e83;
  border-radius: 0 !important;
  padding: 10px 15px 5px;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  color: #738297;
  font-size: 14px;
}
.nav-tabs .nav-link.active {
  background-color: #f2f2f2;
}
i.fas.fa-chevron-down {
  font-size: 18px;
  padding-top: 5px;
}

.nav-tabs .nav-link span {
  display: block;
  padding: 3px 0;
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 300;
}
.nav-tabs .nav-link span.nh_chargesLabel {
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin-top: -5px;
}
.nav-tabs .nav-link.active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  width: 0;
  height: 0;
  display: block;
  content: "";
  pointer-events: none;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  border-left: 1.125rem solid transparent;
  border-right: 1.125rem solid transparent;
  border-bottom: 1.125rem solid #f5f5f5;
  transition: transform 0.3s ease;
}

 select::-ms-expand {
  display: none;
}
select + i.fa {
  float: right;
  margin-top: -23px;
  margin-right: 10px;
  pointer-events: none;
  background-color: transparent;
  color:#bac2d1;
  padding-right: 5px;
  font-size: 14px;
}
.nav-tabs .nav-link:hover {
  background-color: #cacaca;
  border-color: #383838;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #738297;
  border-color: #5f6e83;
}
i.fas.fa-globe {
  display: block;
  font-size: 28px;
  padding-top: 10px;
  padding-bottom: 5px;
}
a.nav-item.nav-link.nh_companyLogo {
  background-color: #fff;
}
a.nav-item.nav-link.nh_companyLogo:hover  {
  background-color: #cacaca;
}
.nh_guestRoom h1{
text-align: center;
padding-top: 15px;
color: #383838;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none; 
  outline:none;
}
.nh_addRoom a {
  color: #8798B0;
}
.nh_addRoom i {
padding-right: 10px;
}
button.btn.nh_btnGuest {
    color: #fff;
    background-color: #8798B0;
    
    border-radius: 0;
    text-transform: uppercase;
    display: flex;
    margin: 30px auto 0;
}
button.btn.nh_btnGuest:hover {
  background-color: #8798B0;
}
.nh_roomAddition i {
  color: #8798B0;
  padding-right: 5px;
}
.nh_formGroupRow .form-group {
  margin-bottom: 30px;
}

.nh_formGroupRow .form-control:focus {
  box-shadow:none;
  border-color: unset;
}
.nh_guestFrom {
  padding-top: 50px;
}


/*Calndar Section CSS*/

.form-control.nh_calendar {
    font-size: 24px;
    font-weight: 300;
    padding: 15px;
    height: 60px;
    text-align: center;
}
.form-control.nh_calendar {
border:none;
}
.daterangepicker .input-mini, .daterangepicker .input-mini.active{
      border: none;
    border-bottom: 1px solid;
    border-radius: 0;
}
.daterangepicker .calendar {
    width: 50%;
    max-width: 50%;

}
.daterangepicker {
    width: 100%;
}
.daterangepicker .calendar td:hover {
  color: #959089;
  border-color: #959089;
}

.daterangepicker td.in-range:hover {
  color: #383838;
}
.daterangepicker table {
  border-collapse:separate; 
border-spacing:5px;
}
.daterangepicker .calendar td.off {
color: #383838;
    border-color: #383838;
        background: linear-gradient(to bottom right, #606060, #606060 49%, #383838 50%, #606060 52%, #606060) !important;

}

.daterangepicker .daterangepicker_input {
    display: none;
}

span.date-price {
    display: block;
    font-weight: bold;
    font-size: 10px;
    line-height: 10px;
}
.date-currency {
  display: block;
  text-transform: uppercase;
}

.daterangepicker.opensright:before {
  display: none;
}
.nh_calendarMessage {
  padding-top: 10px;
  padding-left: 10px;
}
.btn-default.nh_btnGuest.btnGoback{
    margin-right: 22px;
    background: none;
    border: 1px solid #8798B0;
    color: #8798B0;
}
.btn-default.nh_btnGuest.btnGoback:hover {
  background:none;
}
.nh_clReservation .btn-default.nh_btnGuest{
  display: unset;
}


/****   Accommodations tab styling start ***/


.accommodations-tab-main .nh_addRoom {
  text-align: center;
  border-bottom: 1px solid #383838;
  padding: 8px 0px;
}
.accommodations-tab-main .nh_addRoom a {
  font-weight: 700;
}
.accommodations-tab-header,
/*.accommodations-add-code-section {
  text-align: center;
}*/
.accommodations-tab-main .accommodations-tab-header button {
  color: #444;
  font-weight: 700;
  font-size: 1.125rem;
  border: none;
  background-color: transparent;
  border-bottom: 5px solid rgb(149, 144, 137);
  margin-top: 10px;
}
/*.accommodations-add-code-section .acmd-add-code {
  width: 250px;
  margin: 0 auto;
  border-bottom: 1px solid #141414;
  padding: 5px 0px;
}*/
/*.accommodations-add-code-section .acmd-add-code a {
  color: #141414;
  line-height: 26px;
}
.accommodations-add-code-section .acmd-add-code a:hover {
  text-decoration: none;
}*/
/*.accommodations-add-code-section .acmd-add-code span {
  float: left;
}*/
/*.accommodations-add-code-section .acmd-add-code i {
  padding-left: 130px;
  font-size: 16px;
}
.accommodations-add-code-section .openDiscoutCode {
  width: 250px;
  margin: 0 auto;
  border: 1px solid #383838;
  padding: 10px 0px;
}
.accommodations-add-code-section .openDiscoutCode input {
  margin-top: 10px;
  width: 215px;
  height: 35px;
}
.accommodations-add-code-section .openDiscoutCode select {
  width: 215px;
  height: 35px;
  padding: 0 1.625rem 0 1rem;
  font-size: 1rem;
  background: transparent;
  border: 1px solid #383838;
}*/
/*.accommodations-add-code-section .openDiscoutCode input.text {
  border: 1px solid #383838;
  padding: 0 1.625rem 0 1rem;
}
.accommodations-add-code-section .openDiscoutCode input.cancel {
  border: 1px solid #8798B0;
  background: transparent;
  font-weight: 700;
}
.accommodations-add-code-section .openDiscoutCode input.add {
  border: 1px solid #8798B0;
  background: transparent;
  background-color: #8798B0;
  color: #fff;
  font-weight: 700;
}
.accommodations-add-code-section .openDiscoutCode input.text:focus {
  outline: none;
}
.accommodations-add-code-section .openDiscoutCode {
  display: none;
}
.accommodations-add-code-section.activeForm .openDiscoutCode {
  display: block;
}
i.fas.fa-chevron-up {
  display: none;
}
.accommodations-add-code-section.activeForm i.fas.fa-chevron-down {
  display: none;
}
.accommodations-add-code-section.activeForm i.fas.fa-chevron-up {
  display: inline;
}
.accommodations-add-code-section.activeForm .acmd-add-code {
  border-bottom: none;
}*/
.accommodations-tab-main .container {
  margin-top: 90px;
}
.acmd-roomInfo-main {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}
.acmd-roomInfo-main .room-image-col {
  width: 30%;
}
.acmd-roomInfo-main .room-description-col {
  width: 30%;
  margin-top: 2rem;
  margin-left: 15px;
}
.acmd-roomInfo-main .price-package-col {
  width: 32%;
  position: relative;
}
.accommodations-tab-main .acmd-roomInfo-main h3 {
  color: #8798B0;
  font-size: 1.875rem;
  font-weight: 300;
}
.acmd-roomInfo-main .room-description-col span {
  font-size: 0.75rem;
  line-height: 0.875rem;
}
.acmd-roomInfo-main .room-description-col span i {
  font-size: 22px;
  padding-left: 20px;
  display: block;
}
.room-description-col .room-description {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  font-family: "Lato", Roboto, sans-serif !important;
  color: #444;
  margin-top: 10px;
}
.room-description-col .view-room-detail {
  color: #8798B0;
  font-size: 1rem;
  line-height: 18px;
  font-weight: 400;
  text-decoration: underline;
}
.price-package-col .pricing-detail {
  padding: 3px 15px 3px 10px;
  width: 350px;
  height: fit-content;
}
.price-package-col .pricing-detail:hover {
  background-color: rgb(242, 242, 242);
  color: rgb(135, 152, 176);
}

.price-package-col .pricing-detail .pricing-amount {
  float: right;
}
.price-package-col .pricing-detail p {
  padding-left: 16px;
  margin-bottom: 0px;
  font-weight: 300;
  line-height: 22px;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: underline;
}
.price-package-col .price-book-section {
  color: #8798B0;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  line-height: 1.5;
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0px;
  display: inline-flex;
  right: 0px;
}
.price-package-col .price-book-section div {
  padding: 0.375rem 1.25rem 0;
}
.price-package-col .price-book-section button {
  background-color: #8798B0;
  border: none;
  color: #fff;
  padding: 0.75rem 1.1875rem;
  font-weight: 700;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5;
}
.details-of-room-main {
  display: none;
  padding-top: 55px;
  margin-bottom: 35px;
}
.details-of-room-main.actively {
  display: flex;
  flex-wrap: wrap;
}
.left-text-area {
  width: 70%;
}
.right-pricing-bar {
  width: 30%;
}
.details-of-room-main .left-text-area .h1 {
  color: #8798B0;
  font-size: 2.25rem;
  line-height: 1.1;
}
.details-of-room-main .left-text-area p.description {
  color: #141414;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
}
.details-of-room-main .left-text-area p.room-detail.info {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.1;
  text-transform: uppercase;
}
.left-text-area .number-of-person {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
}
.left-text-area .room-detail-img {
  margin: 35px 0px;
}
.pricing-conainer-sticky .cart-pricing-details {
  border: 1px solid #141414;
  padding: 0 1.125rem;
}
.cart-pricing-details .h2 {
  font-weight: 700;
  font-size: 1rem;
  padding-top: 1em;
  line-height: 1.1;
}
.cart-pricing-details .label {
  font-weight: 500;
  font-size: 1rem;
}
.cart-pricing-details .label a {
  color: #8798B0;
  text-decoration: underline;
}
.pricing-conainer-sticky .cancel-img {
  text-align: right;
}
.pricing-conainer-sticky .cancel-img img {
  width: 25px;
  margin-bottom: 35px;
  cursor: pointer;
}
.cart-price {
  color: #141414;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
}
.cart-pricing-details .cart-price-right {
  float: right;
}
.cart-pricing-details hr {
  border-top: 2px dotted #444;
}
.pricing-conainer-sticky .check-out-button {
  background-color: #8798B0;
  border: 1px solid #8798B0;
  padding: 0.75rem 1.1875rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
}
.pricing-conainer-sticky .check-out-button a {
  color: #fff;
}
.pricing-conainer-sticky .check-out-button:hover {
  background-color: #8798B0;
}
.pricing-conainer-sticky .check-out-button a:hover {
  text-decoration: none;
}
.details-of-room-main .room-facilities {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 35px;
}
.room-facilities .room-facilities-img {
  width: 20%;
  text-align: center;
}
.room-facilities .room-facilities-img img {
  width: 25%;
  margin-bottom: 5px;
  filter: opacity(0.6);
}
.room-facilities .room-facilities-img p {
  font-size: 1rem;
  font-weight: 100;
  font-family: "Lato", Roboto, sans-serif !important;
  line-height: 1.5;
}
.details-of-room-main.activly {
  display: flex;
}
.room-image-col img {
  width: 100%;
}
.room-image-col {
  position: relative;
}
a.menu-tootle-link.show-mobile {
  display: none;
}
.menu-item-wraper {
  width: 100%;
}


/*Awais CSS*/
.nh_clReservation {
  padding-bottom: 100px;
}

.nh_clReservation .accommodations-add-code-section .acmd-add-code{
text-align: left;
width:450px;
    padding-left: 15px;
    cursor: pointer;
    border-bottom: 1px solid #141414;
}
.nh_clReservation .accommodations-add-code-section .acmd-add-code i {
  float: right;
  padding-left: unset;
      padding-right: 15px;
}
.nh_clReservation .accommodations-add-code-section .openDiscoutCode {
      width: 450px;
          border: 1px solid #ccc;
}
.nh_clReservation .accommodations-add-code-section .openDiscoutCode input {
      width: 100%;
      height:40px;
}

.nh_clReservation span.select2.select2-container.select2-container--default {
    width: 100% !important;
}
.nh_clReservation .select2-container .select2-selection--single {
  height: 40px;
    border-radius: 0;
        border: 1px solid #ccc;
}
.nh_clReservation .select2-container--default .select2-selection--single .select2-selection__rendered {
      line-height: 40px;
      text-align: left;
      color: #383838;
      padding-left: 15px;

}
.nh_clReservation .accommodations-add-code-section .openDiscoutCode input.text {
   border: 1px solid #ccc;
}
.nh_clReservation .select2-container--default .select2-selection--single .select2-selection__arrow {
  height:40px;
  right:7px;
}
.nh_clReservation .accommodations-add-code-section .acmd-add-code i {
    font-size: 14px;
    padding-top: 10px;
    }
.nh_clReservation .accommodations-add-code-section.activeForm .openDiscoutCode {
  padding: 15px 10px;
}

.nh_clReservation .accommodations-add-code-section .openDiscoutCode input.cancel {
  width: 49%;
    float: left;
    margin-right: 1%;
        margin-top: 15px;
        height:36px;
        line-height: 34px;
        font-size: 15px;
}
.nh_clReservation .accommodations-add-code-section .openDiscoutCode input.add{
    width: 49%;
    margin-left: 1%;
        margin-top: 15px;
        height:36px;
        line-height: 34px;
        font-size: 15px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #fff !important;
  color: #383838;
}
.nh_clReservation .accommodations-add-code-section {
    margin-top: 100px;
    position: static;

}
.nh_clReservation .select2-container--default .select2-selection--single .select2-selection__rendered, .nh_clReservation .select2-container .select2-selection--single {
  outline:none;
}



/*Footer CSS*/
/*a.nh_startOver {
    text-transform: uppercase;
    padding-left: 15px;
}

footer {
    background-color: #dedede;
    padding-top: 15px;
    color:#738297;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer a {
    color: #738297;
    text-decoration: underline;
}
footer a.nh_startOver img {
  width: 22px;
    position: relative;
    top: -3px;
    left: -5px;

}*/
.tab-content {
min-height: 100%;
}

/*Footer popups css*/ 

.nh_propertyPopups{
padding:40px;
border-radius: 0;
}
.nh_propertyDetailed h2 {
  font-size: 30px;
  color: #8798B0;
  font-weight: 300;
}
.nh_propertyPopups .carousel-control-prev-icon {
background-image: url(../images/prevArrow.svg);
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.nh_propertyPopups .carousel-control-next-icon {
  background-image: url(../images/prevArrow.svg);
}
.nh_propertyPopups .carousel-inner {
  height: 23em;
}
.nh_propertyPopups .carousel-inner .carousel-item {
  height: 100%;
}
.nh_propertyPopups .carousel-inner img {
height:100%;
}
.nh_propertyDetailed {
      padding-top: 20px;
  padding-right: 30px;
}
.nh_propertyDetailed p {
  font-size: 14px;
  margin-top: 10px;
    margin-bottom: 0;
}
.carousel-control-next, .carousel-control-prev {
  opacity: 1;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
      width: 26px;
    height: 26px;
}
button.close{
opacity: 1;
    position: absolute;
        top: 2px;
    right: 5px;
    outline: none;
}

.nh_cancelReservation .modal-content {
padding: 40px 30px 15px;
    border-radius: 0;
}
.nh_cancelReservation .modal-header {
    position: absolute;
    top: -30%;
    left: 0;
    border: none;
    width: 100%;
}
.nh_cancelReservation .modal-header h3 {
    color: #fff;
    font-weight: 300;
    font-size: 36px;
    letter-spacing: 3px;
    line-height: 1;
    margin: 0 auto;
}
.modal-backdrop.show {
    opacity: .8;
}

.nh_cancelReservation .modal-content .form-group {
      float: left;
    width: 46%;
    margin-right: 2%;
    margin-left: 2%;
    position: relative;

}
.nh_cancelReservation .modal-content .form-control{
      padding-bottom: 0;
    height: 50px;
}
.nh_cancelReservation .modal-content h4{
      text-align: center;
    font-size: 21px;
    margin-bottom: 30px;
}
.form-control::-webkit-input-placeholder { 
  color: #aaa;
  font-weight: 300;
  font-size: 18px;

}
.form-control::-moz-placeholder { 
  color: #aaa;
   font-weight: 300;
  font-size: 18px;
}
.form-control:-ms-input-placeholder { 
  color: #aaa;
   font-weight: 300;
  font-size: 18px;
}
.form-control:-moz-placeholder { 
  color: #aaa;
   font-weight: 300;
  font-size: 18px;
}
.modal-header .close {
  padding-top: 36px;
}
.form-control:focus {
    color: #444;
    background-color: #f5f5f5;
    border-color: #bac2d1 !important;
    outline: 0;
    box-shadow: none;
}

.nh_cancelReservation .modal-content .form-group button.btn.nh_btnGuest {
margin: 0;
    display: unset;
    float: right;
    width: 50%;
    background: none;
    border: 1px solid #a9842b;
    color: #ccc;
    font-size: 20px;
    margin-top: 15px;
}
.nh_cancelReservation .modal-content .form-group .mandatory-field{
      padding-top: 30px;
    text-align: left;
    line-height: 1.2;
    font-size: 16px;
    float: left;
    margin-bottom: 10px;
    font-weight: 300;
    color: red;
}
.nh_cancelReservation .modal-content .form-group .mandatory-field span{
  font-size: 22px;
}

.nh_guestRoom .nh_clReservation{
padding-bottom: 0;
}
.nh_guestRoom .nh_clReservation .accommodations-add-code-section {
  margin-top: 0
}
nav i.fas.fa-chevron-down {
  display: none;
}

th.next.available i, th.prev.available i{
  font-size: 22px;
    line-height: 34px;
}




/*** Total changes styling start  ***/
div#total-changes .nh_addRoom {
    text-align: center;
}
.total-changes-main {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
}
.total-changes-main  .tc-col {
    width: 33%;
    padding: 0px 20px;
}

.form-row .form-group.required .control-label:after {
  content:"*";
  color:red;
}
.total-changes-main .tc-col form {
    margin: 0 auto;
}
.charges-cart-main p.label {
  font-size: .875rem;
  margin-left: .9375rem;
  color: #8798B0;
  line-height: 1.5;
  margin-bottom: 0px;
}
.cart-items-chagnes {
  width: 100%;
}
.cart-items-chagnes p.item-name .text {
  font-size: 1rem;
  font-weight: 400;
  color: #8798B0;
}
.text-right {
  float: right;
}
.charges-cart-main .cart-items-chagnes i {
  font-size: 12px;
}
.cart-items-chagnes .text-right {
  font-weight: 400;
  line-height: 1.1;
  text-align: right;
}
.cart-items-chagnes p.cart-item-value {
  font-weight: 400;
  font-size: 14px;
  color: #383838;
  margin-bottom: 5px;
  padding-left: 15px;
}
.cart-items-chagnes  p.sub-total,
.cart-items-chagnes  p.tax,
.cart-items-chagnes p.total-price {
  font-size: 1rem;
  line-height: 1.5;
}
.cart-items-chagnes p.tax {
  margin-bottom: 2px;
}
.cart-items-chagnes p.add-other a {
  font-weight: 700;
  color: #8798B0;
}
.cart-items-chagnes p.total-price {
    border-bottom: 1px dashed;
    padding-bottom: 12px;
}
.cart-items-chagnes p.sub-total {
    border-bottom: 1px dashed;
    padding-bottom: 12px;
}
.total-changes-main form .form-group,
.total-changes-main form .dropdown.bootstrap-select.countrypicker {
  width: 100%;
}
.total-changes-main form .dropdown.bootstrap-select.countrypicker button.btn.dropdown-toggle.btn-light {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid;
  border-radius: unset;
}
.paymet-method-images img {
  width: 4.625rem;
  height: 2.75rem;
  padding-left: 5px;
}
.tc-third-col .second-col-form {
  padding-top: 30px;
}
.tc-third-col .second-col-form .form-check {
  cursor: pointer;
  color: #383838;
  font-family: "Lato", Roboto, sans-serif !important;
  font-size: 1rem;
  line-height: 1.5;
}
.tc-third-col .second-col-form .form-check input#inputcheckbox {
  width: 1.25rem;
  cursor: pointer;
  height: 1.25rem;
}
.form-check a {
  color: #8798B0;
  text-decoration: underline;
  cursor: pointer;
}
.tc-third-col .second-col-form .btn-primary {
  background: #8798B0;
  margin-top: 20px
  transition: none;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: .75rem 1.1875rem;
  width: 100%;
  border-color: #8798B0;
  height: 60px;
}
.tc-third-col .second-col-form .btn-primary:hover {
  border-color: #8798B0;
  background: #8798B0;
}
.accommodations-tab-header .nh_addRoom{
      text-align: center;
    border-bottom: 1px solid #383838;
    padding: 8px 0px;
}
.accommodations-tab-header .nh_addRoom a {
  font-weight: 700;
  text-decoration: underline;
}
div#total-changes{
  margin-top: 40px;
}
#total-changes .form-group {
  position: relative;
  margin-bottom: 10px;
}
#total-changes .form-control {
  height: 48px;
  padding-bottom: 0;
}
#total-changes input.form-check-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
} 
#total-changes .checkmark {
    position: absolute;
    top: 7px;
    left: -4px;
    height: 20px;
    width: 20px;
    background-color: #eee;
}
#total-changes input ~ .checkmark {
background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}
#total-changes input:checked ~ .checkmark {
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(17,110,181,.25);
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
 #total-changes input:checked ~ .checkmark:after {
    display: block;
}
 #total-changes .checkmark:after {
left: 5px;
    top: 1px;
    width: 7px;
    height: 13px;
    border: solid #3a3a39;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.accommodations-add-code-section .select2-container--default .select2-selection--single {
    border: 1px solid #383838;
    border-radius: 0;
    height: 40px;
    outline: none;
}
.accommodations-add-code-section .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #383838;
    line-height: 36px;
    padding-left: 15px;
    text-align: left;
}
.accommodations-add-code-section .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px;
  right: 5px;
}
.accommodations-add-code-section .openDiscoutCode input.cancel {
  margin-top: 15px;
}
.nav-languages ~ .acmd-language-code {
  display: none;
}
.nav-languages.activeForm ~ .acmd-language-code {
display: block;
}
.acmd-language-code {
    float: right;
    position: absolute;
    right: 0px;
    top: 100%;
    background-color: #fff;
        z-index: 991;
}

.acmd-language-code .openDiscoutCode {
    width: 270px;
    margin: 0 auto;
    border: 1px solid #383838;
        border-top: 1px solid #f5f5f5;
    padding: 10px 20px;
}

.acmd-language-code .select2-container--default .select2-selection--single {
    border: 1px solid #383838;
    border-radius: 0;
    height: 40px;
    outline: none;
}
.acmd-language-code .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #383838;
    line-height: 36px;
    padding-left: 15px;
    text-align: left;
}
.acmd-language-code .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px;
  right: 5px;
}

.acmd-language-code .openDiscoutCode input {
    border: 1px solid #383838;
    padding: 0 1.625rem 0 1rem;
        margin-top: 10px;
    width: 100%;
    height: 35px;
}
.acmd-language-code .openDiscoutCode input.cancel {
    border: 1px solid #8798B0;
    background: transparent;
    font-weight: 700;
}

.acmd-language-code .openDiscoutCode input.add {
    border: 1px solid #8798B0;
    background: transparent;
    background-color: #8798B0;
    color: #fff;
    font-weight: 700;
}
.acmd-language-code .openDiscoutCode .select2-container {
  width: 100% !important;
}
.acmd-language-code .openDiscoutCode label {
      font-weight: 400;
    color: #444;
    margin-top: 10px;
 margin-bottom: 5px;
    text-transform: uppercase;
}
.acmd-language-code .openDiscoutCode .form-group {
  margin-bottom: 0;
}
.acmd-language-code .openDiscoutCode input.add:hover {
    background-color: #8798B0;
}

.nav-languages.activeForm:before{
  position: absolute;
    bottom: 0px;
    left: 50%;
    right: 50%;
    width: 0;
    height: 0;
    display: block;
    content: "";
    pointer-events: none;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    border-left: 1.125rem solid transparent;
    border-right: 1.125rem solid transparent;
    border-bottom: 1.125rem solid #f5f5f5;
    transition: transform 0.3s ease;
}


/*Total Tabs*/
.total-changes-main .cart-value-toggle {
  display: none;
}
.toggle-wraper.cart-active .fa-chevron-down:before {
  content: "\f077";
}
.cart-value-toggle p {
  margin-bottom: 2px;
}
.tax.single-roome-tax {
  border-bottom: 1px dashed;
  padding: 10px 0px;
}
.tax.single-roome-tax b {
    color: #383838;
}
.charges-cart-main .cart-items-chagnes i {
  font-size: 12px;
  position: relative;
  padding-top: -24px;
  bottom: 3px;
  right: 3px;
}
.charges-cart-main .cart-items-chagnes p.s-requiest {
  padding-top: 10px;
  color: #383838;
}
p.tax.net-tex {
  border-bottom: 1px dashed;
  padding: 10px 0px;
}
.cart-items-chagnes p.sub-total {
  border-bottom: 1px dashed;
  padding-bottom: 12px;
  margin-bottom: 0px;
}
p.total-price.net-total-price {
  padding-top: 10px;
  color: #383838;
}
p.sub-total span.price.text-right {
  position: relative;
  top: -15px;
}
.tc-col.tc-first-col .h1 {
  padding-left: 0px;
}
.charges-cart-main p.item-name {
    cursor: pointer;
    margin-bottom: 5px;
}
select.mdb-select.md-form {
    width: 100%;
    margin-bottom: 10px;
    height: 48px;
    padding-left: 15px;
    background: transparent;
}
.tc-col.tc-second-col form .form-group i {
    position: relative;
    top: -15px;
}





/*********** New Design styling start ***********/
.wizard-inner ul.nav.nav-tabs {
    display: flex;
    flex-wrap: wrap;
}
.wizard-inner ul.nav.nav-tabs .step-item {
    width: 18%;
    padding: 0px 0px 0px 30px;
    margin-top: 28px;
}
.wizard-inner li.step-item-one {
    width: 22%;
    margin-left: auto;
    padding-left: 8%;
    margin-top: 28px;
}
.wizard-inner ul.nav.nav-tabs li.logo-image {
  width: 10%;
  text-align: center;
}
.wizard-inner ul.nav.nav-tabs li.currency-block {
  width: 10%;
  margin-left: auto;
  text-align: center;
  background-color: #f6f6f6;
  padding-top: 23px;
}
.wizard-inner ul.nav.nav-tabs li.logo-image img {
  width: 60px;
  margin-top: 23px;
  margin-bottom: 23px;
}

.wizard-inner ul.nav.nav-tabs li.logo-image {
  background-color: #8697af;
}

.wizard-inner ul.nav.nav-tabs li hr {
    width: 30%;
    display: inline-flex;
    margin-bottom: 5px;
    margin-left: 10px;
}
.wizard-inner ul.nav.nav-tabs li a {
  font-family: Oswald;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.45px;
  color: #373737;
}
.guests-rooms-main h1 {
    font-family: Ovo;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.8;
    letter-spacing: normal;
    text-align: center;
    color: #373737;
    text-transform: uppercase;
}
div#TextBoxesGroup .nh_formGroupRow {
  display: flex;
  /*width: 75%;*/
  margin: 0 auto;
}
div#TextBoxesGroup .nh_formGroupRow  .form-group {
  width: 48%;
  margin: 0 auto;
}
.guests-rooms-main .nh_addRoom {
    text-align: center;
    /*width: 71.5%;*/
    margin: 0 auto;
    border-radius: 3px;
    border: solid 1px #e0e5eb;
    background-color: #f6f6f6;
/*    padding: 17px 0px;*/
    margin-top: 30px;
}
.guests-rooms-main .nh_addRoom .btn {
     width: 100%;
    padding: 17px 0px;
    text-transform: uppercase;
    font-family: Oswald;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0.45px;
    color: #bac2d1;
}
.guests-rooms-main button.update-guests-btn {
    border-radius: 3px;
    border-color: #8798af;
    background-color: #8798af;
    margin-top: 30px;
    padding: 15px 40px;
    font-family: Oswald;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.6px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}
.wizard .guests-room-tab .tab-content-main {
    width: 1110px;
/*    height: 433px;*/
    margin: 0 auto;
    margin-top: 40px;
    padding: 60px 0px;
    box-shadow: 0px 1px 34px 0 rgba(120, 120, 120, 0.15);
    border: solid 1px #f6f6f6;
    background-color: #ffffff;
}
.wizard .guests-room-tab div#step1 .guests-rooms-main {
    width: 66%;
    margin: 0 auto;
}
.nh_formGroupRow .adult {
    margin-left: 0px !important;
}
.nh_formGroupRow .children {
    margin-right: 0px !important;
}
#TextBoxesGroup .nh_roomAddition a {
  font-family: Ovo;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.6px;
  text-align: center;
  color: #8798af;
}
.form-group .form-control {
font-family: Oswald;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.45px;
  text-align: center;
  color: #373737;
  text-transform: uppercase;
  height: 45px;
}
.guests-rooms-main .nh_addRoom button#addRoom i.fas {
    border: 1px solid;
    border-radius: 50px;
    text-align: center;
    padding: 2px;
    font-size: 8px;
    bottom: 2px;
    position: relative;
    margin-right: 6px;
}
div#TextBoxesGroup > div {
    margin-bottom: 20px;
}
.wizard-inner .currency-block {
  font-family: Oswald;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #373737;
}
.wizard-inner li.currency-block i.fa {
  color: #bac2d1;
  padding-top: 8px;
}
.wizard-inner ul.nav.nav-tabs li span {
 font-family: Oswald;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #8798b0;
  text-transform: uppercase;
}

.round {
  position: relative;
}

.round label {

    border: solid 1px #e0e5eb;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    height: 34px;
    left: -48px;
    position: absolute;
    top: 0px;
    width: 34px;
}

.round label:after {
     border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 9px;
    opacity: 0;
    position: absolute;
    top: 11px;
    transform: rotate(-45deg);
    width: 15px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  border: solid 1px #e0e5eb;
   background-color: #8697af;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
.wizard-inner ul.nav.nav-tabs li .form-group.round {
  text-transform: uppercase;
}
.wizard-inner .nav-tabs {
  border-bottom: 1px solid #f6f6f6;
}

/** Calender page **/
.wizard .guests-room-tab #step2.tab-content-main {
  height: 753px;
  padding-top: 30px;
}
#step2 section.nh_clReservation input#inlinePicker {
  font-family: Oswald;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.6px;
  text-align: center;
  color: #373737;
  border: solid 1px #e0e5eb;
  background-color: #e0e5eb;
  text-transform: uppercase;
}
#step2 section.nh_clReservation .booking-date-main {
  width: 910px;
  margin: 0 auto;

}
.booking-date-main table.table-condensed th.month {
  font-family: Ovo;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: normal;
  text-align: center;
  color: #373737;
  padding-top: 48px;
  padding-bottom: 24px;
  text-transform: uppercase;
}
.booking-date-main table.table-condensed th.prev.available i.fa {
  position: absolute;
  left: -45px;
  top: 280px;
  color: #000;
  font-size: 30px;
}
.booking-date-main table.table-condensed th.next.available i.fa {
  top: 280px;
  right: -42px;
  position: absolute;
  color: #000;
  font-size: 30px;
}
.booking-date-main .daterangepicker th {
  font-family: Ovo;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.6px;
  text-align: center;
  color: #8798af;
  padding-bottom: 15px;
}
.booking-date-main .daterangepicker .calendar td {
  font-family: Oswald;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.6px;
  text-align: center;
  color: #000000;
  width: 58px;
  height: 60px;
  border: solid 1px #e0e5eb;
  opacity: 0.6;
}
.booking-date-main .calendar .nh_updateButtons button.btn.nh_btnGuest {
  margin-top: 56px;
}
.booking-date-main button.btn.nh_btnGuest {
  font-family: Oswald;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.6px;
  text-align: center;
  padding: 17px 0px;
  width: 270px;
}
.booking-date-main .daterangepicker.ltr .calendar.left .calendar-table {
    padding-right: 30px;
}
.booking-date-main .daterangepicker.opensright:after {
  display: none;
}
.booking-date-main .nh_updateButtons button.btnGoback {
  color: #373737;
}

/** Rooms Detail page **/
.wizard .guests-room-tab #step3.tab-content-main {
    height: auto;
    padding-top: 60px;
}
.wizard .guests-room-tab #step3 .rooms-detail-main {
  width: 920px;
  margin: 0 auto;
}

.wizard .guests-room-tab #step3 .room-content {
    display: flex;
    position: relative;
    border-radius: 3px;
}
.wizard .guests-room-tab #step3 .room-info-image {
    width: 30%;
}
.wizard .guests-room-tab #step3 .room-info-content {
    width: 70%;
}
.wizard .guests-room-tab #step3 .room-info-description {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-right: 10px;
}
.wizard .guests-room-tab #step3 .description-text {
    width: 60%;
    margin-top: 10px;
    padding-left: 12px;
}
.wizard .guests-room-tab #step3 .description-price-info {
  width: 40%;
  text-align: right;
}
.wizard .guests-room-tab #step3 .description-features {
  width: 72%;
  background-color: #f6f6f6;
  height: 60px;
  padding-top: 15px;
  margin-left: -15px;
  position: absolute;
  bottom: 0px;
}
.wizard .guests-room-tab #step3 .feature-items span {
  padding: 0px 15px;
  font-family: Oswald;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.45px;
  text-align: left;
  color: #373737;
}
.room-info-description .description-price-info button.btn.nh_btnGuest {
  display: initial;
}
div#step3 .rooms-detail-main .h2 {
 font-family: Ovo;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: normal;
  text-align: left;
  color: #8798af;
  margin-bottom: 10px;
}
div#step3 .rooms-detail-main .para {
  font-family: Oswald;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.45px;
  text-align: left;
  color: #373737;
}
.description-price-info .price {
  border: solid 1px #e0e5eb;
  background-color: #e0e5eb;
  width: 235px;
  float: right;
  height: 70px;
  font-family: Ovo;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #373737;
  padding-top: 20px;
}
.description-price-info .price img {
  position: relative;
  top: -4px;
}
.room-info-description .description-price-info .book {
  height: 45px;
  width: 235px;
  margin-top: 10px;
  font-family: Oswald;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.6px;
  text-align: center;
}
.rooms-detail-main .rooms-info-header {
    text-align: center;
    margin-bottom: 45px;
}
.rooms-detail-main .rooms-info-header .h1 {
  font-family: Ovo;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: normal;
  text-align: center;
  color: #373737;
  text-transform: uppercase;
}
.rooms-detail-main .rooms-info-header img {
  position: relative;
  top: -8px;
}
.rooms-detail-main .view-room-detail {
  font-family: Oswald;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.39px;
  text-align: center;
  color: #8798af;
  margin-top: 17px;
  margin-bottom: 22px;
  cursor: pointer;
}
.rooms-detail-main .room-info {
  box-shadow: 0px 1px 34px 0 rgba(120, 120, 120, 0.15);
  border: solid 1px #e0e5eb;
}

.detail-description {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 30px 0px 30px;
}
.description-content {
    width: 58%;
}
.description-price {
    width: 42%;
}
.price-box {
    border: solid 1px #e0e5eb;
    width: 95%;
    float: right;
}
.price-box p {
  font-family: Ovo;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #8798af;
  padding: 20px 0px 0px 20px;
}
.price-box span {
  font-family: Oswald;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.45px;
  text-align: left;
  color: #373737;
}
.price-box .price {
  padding: 0px 20px 22px 20px;
}
.price-box hr {
    width: 85%;
}
.price-box .subtotal {
  padding: 9px 20px;
  background-color: #e0e5eb;
}
.description-price .price-box .checkout {
    margin: 0px;
    width: 100%;
    display: block;
    font-family: Oswald;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.6px;
    height: 60px;
} 
#step3 .rooms-detail-main .sub-heading.h2 {
  font-size: 20px;
  margin-top: 30px;
}
.room-features {
    margin: 20px 0px;
}
.description-detail-text .room-features.feature-items span {
  padding-left: 0px !important;
}
.description-detail-text .h2  {
  margin-bottom: 20px;
}
.wizard .guests-room-tab #step3 .room-details.feature-items {
    display: flex;
    flex-wrap: wrap;
}
.wizard .guests-room-tab #step3 .room-details.feature-items span {
  width: 25%;
  padding: 20px 0px 10px 0px;
  text-align: center;
}
.room-details.feature-items img {
  padding-bottom: 15px;
  width: 32px;
}
.wizard .guests-room-tab #step3 .view-room-detail i {
    padding-left: 10px;
}
.room-desccription-detail-main {
    box-shadow: 0px 1px 34px 0 rgba(120, 120, 120, 0.15);
    border: solid 1px #e0e5eb;
}
.room-desccription-detail-main > hr {
    width: 95%;
    border-top: 2px solid #f6f6f6;
}
.room-desccription-detail-main {
  display: none;
}
.room-content-conainer {
    margin-bottom: 30px;
}

/** Check Out **/

.checkout-tab-container .tc-col .h1 {
 font-family: Ovo;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: normal;
  color: #373737;
  text-transform: uppercase;
  padding-bottom: 28px;
}
.wizard .guests-room-tab #complete {
  height: 769px;
}
.checkout-tab-container .tc-col .form-group .form-control {
    text-align: left;
    text-transform: initial;
}
.checkout-tab-container textarea#address {
  border: 1px solid #ced4da;
  width: 100%;
  padding-left: 10px;
  font-family: Oswald;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.45px;
}
.second-col-form .form-row button.btn {
  font-family: Oswald;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.6px;
  text-align: center;
  color: var(--white);
}

.cart-items-charges p span {
    font-family: Oswald;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0.45px;
    text-align: right;
    color: #373737;
}
.cart-items-charges p span.rooms {
  font-family: Oswald;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.45px;
  text-align: left;
  color: #8798af;
}
p.add-code.sub-heading {
    font-family: Ovo;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #8798af;
    margin-top: 30px;
}
.price-info {
  margin-top: 30px;
  width: 95%;
  margin: 30px auto;
}
.price-info p {
    border: solid 1px #e0e5eb;
    height: 45px;
    margin: 0px;
    padding: 8px 20px;
}
.charges-cart-main .price-info p.total {
    background-color: #e0e5eb;
}
.charges-cart-main  button#addRoom {
    border-radius: 3px;
    border: solid 1px #e0e5eb;
    background-color: #f6f6f6;
    height: 60px;
    width: 100%;
    font-family: Oswald;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.45px;
  text-transform: uppercase;
  color: #bac2d1;

}
.charges-cart-main button#addRoom i {
  border: 1px solid;
  border-radius: 50px;
  padding: 2px;
  font-size: 9px;
  margin-right: 5px;
  position: relative;
  top: -3px;
}
.input-group.enter-code input {
  height: 45px;
  opacity: 0.3;
  font-family: Oswald;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.45px;
  text-align: left;
  color: rgba(55, 55, 55, 0.3);
}
.input-group.enter-code .input-group-append {
    background-color: #e0e5eb;
    
}
.input-group.enter-code .input-group-append button.btn {
    font-family: Oswald;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.6px;
  text-align: center;
  color: #bac2d1;
  border: none;
}
.input-group.enter-code .input-group-append button.btn:hover {
  background-color: #8798B0;
}
.tc-first-col .cart-items-charges .form-row .form-group i {
      margin-top: -38px;
} 
.discount-code .form-group {
    margin-bottom: 0px;
}
p.add-code.special-requests.sub-heading {
    margin-top: -6px !important;
}
.tc-col.tc-first-col {
    padding-left: 20px;
}
form#main-form #complete .checkout-tab-container .form-group {
    width: 100%;
}
.cart-items-charges .discount-code .form-row {
    width: 95%;
    margin: 0 auto;
}
.daterangepicker td.start-date {
    background-color: #dedede;
}
.tc-col.tc-second-col .form-row .form-group select + i.fa {
  margin-top: -40px;
}
.booking-date-main .disable {
  background: linear-gradient(to bottom right, #606060, #606060 49%, #383838 50%, #606060 52%, #606060) !important;
}


/** Footer **/
/*.footer-container p {
  background-color: #f6f6f6;
  height: 60px;
  font-family: Oswald;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.45px;
  text-align: center;
  color: #373737;
  padding-top: 20px;
  margin-bottom: 0px;
}
footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
}*/

div#complete .second-col-form .last-check-fields [type="checkbox"]:not(:checked),
div#complete .second-col-form .last-check-fields [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
div#complete .second-col-form .last-check-fields [type="checkbox"]:not(:checked) + label,
div#complete .second-col-form .last-check-fields [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
  top: -15px;
}

/* checkbox aspect */
div#complete .second-col-form .last-check-fields [type="checkbox"]:not(:checked) + label:before,
div#complete .second-col-form .last-check-fields [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 5px; top: -5px;
  width: 25px; 
  height: 25px;
  background: #fff;
  border-radius: 3px;
  border: solid 1px #e0e5eb;
}
/* checked mark aspect */
div#complete .second-col-form .last-check-fields [type="checkbox"]:not(:checked) + label:after,
div#complete .second-col-form .last-check-fields [type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: -5px; 
  left: .22em;
  font-size: 1.3em;
  line-height: 0.8;
  padding-left: 5px;
  padding-top: 5px;
  color: #fff;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
div#complete .second-col-form .last-check-fields [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
div#complete .second-col-form .last-check-fields [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
  background-color: #8798af;
  width: 25px;
  height: 25px;
  border: solid 1px #e0e5eb;
}
/* disabled checkbox */
div#complete .second-col-form .last-check-fields [type="checkbox"]:disabled:not(:checked) + label:before,
div#complete .second-col-form .last-check-fields [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
div#complete .second-col-form .last-check-fields [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
div#complete .second-col-form .last-check-fields [type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
div#complete .second-col-form .last-check-fields [type="checkbox"]:checked:focus + label:before,
div#complete .second-col-form .last-check-fields [type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

/* hover style just for information */
div#complete .second-col-form .last-check-fields label:hover:before {
  border: 2px solid #4778d9!important;
}

div#complete .second-col-form .last-check-fields {
  font-family: Oswald;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.45px;
  color: #373737;
}
div#complete .second-col-form .last-check-fields span {
  font-family: Oswald;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #8798af;
}

/** RWD ***/

@media screen and (max-width: 991px) { 
  .wizard-inner ul.nav.nav-tabs li.logo-image {
      width: 100%;
      text-align: center;
  }
  .wizard-inner li.step-item-one,
  .wizard-inner ul.nav.nav-tabs .step-item {
    width: 50%;
    padding-left: 15%;
  }
  .wizard-inner ul.nav.nav-tabs li.currency-block {
    display: none;
  }
  .wizard-inner ul.nav.nav-tabs li hr {
    display: none;
  }
  .wizard-inner ul.nav.nav-tabs {
    padding-bottom: 20px;
  }
  .wizard .guests-room-tab .tab-content-main {
    width: 90%;
  }

  #step2 section.nh_clReservation .booking-date-main {
    width: 100%;
  }
  .wizard .guests-room-tab #step3 .room-content {
    flex-wrap: wrap;
  }
  .wizard .guests-room-tab #step3 .rooms-detail-main {
    width: 90%;
  }
  .wizard .guests-room-tab #step3 .description-text,
  .wizard .guests-room-tab #step3 .description-price-info {
    width: 100%;
  }
   .wizard .guests-room-tab #step3 .room-info-image {
    width: 100%;
    text-align: center;
    padding-top: 30px;
   }
  .wizard .guests-room-tab #step3 .room-info-content {
    width: 100%;
  }
  .wizard .guests-room-tab #step3 .description-features {
    width: 100%;
    position: inherit;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding-bottom: 20px;
  }
  .description-price-info .price {
    float: left;
  }
  .room-info-description .description-price-info .book {
    margin-right: -10px;
    height: 70px;
    margin-top: 0px;

  }
  .wizard .guests-room-tab #step3 .description-features {
    margin-left: 0px;
    margin-top: 20px;
  }
  .description-content {
    width: 100%;
  }
  .description-price {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
  }
  .total-changes-main .tc-col {
    width: 100%;
    margin-bottom: 50px;
  }
  .wizard .guests-room-tab #complete {
    height: auto;
    width: 70%;
  }
}

@media screen and (max-width: 767px) {
  .daterangepicker.daterangepicker-inline {
    display: flex;
    flex-wrap: wrap;
  }
  .daterangepicker.ltr .calendar.left,
  .daterangepicker.ltr .calendar.right {
    width: 90%;
    margin: 0 auto;
  }
  .daterangepicker .calendar {
    max-width: 100%;
  }
  .booking-date-main .daterangepicker.ltr .calendar.left .calendar-table {
    padding: 0px;
  }
  .booking-date-main table.table-condensed th.next.available i.fa {
    right: 40px;
    top: 55%;
  }
  .booking-date-main table.table-condensed th.prev.available i.fa {
    left: 40px;
    top: 55%;
  }
  .wizard .guests-room-tab #step2.tab-content-main {
    height: auto;
  }
  .guests-rooms-main button {
    width: 100%;
  }
  .room-info-description .description-price-info .book  {
    float: left;
  }
  .wizard .guests-room-tab #step3 .description-features span {
    width: 50%;
  }
  div#step3 .rooms-detail-main .h2 {
    text-align: center;
  }
  div#step3 .rooms-detail-main .para {
    text-align: center;
  }
  .wizard .guests-room-tab #complete {
    width: 90%;
  }
  .calendar-main .btnGoback.prev-step {
    margin-right: 0px;
  }
}
@media screen and (max-width: 480px) {
  .wizard-inner ul.nav.nav-tabs li.logo-image img {
    width: 80px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  div#TextBoxesGroup .nh_formGroupRow {
    flex-wrap: wrap;
  }
  div#TextBoxesGroup .nh_formGroupRow .form-group {
    width: 100%;
    margin-bottom: 10px !important;
  }
  .wizard .guests-room-tab #step3 .description-features span {
   text-align: right;
   width: 100%;
  }
  .wizard .guests-room-tab #step3 .description-features span img {
    float: left;
  }
  .detail-description {
    padding: 40px 10px 0px 10px;
  }
  .description-price {
    width: 100%;
  }
  .description-price-info .price,
  .room-info-description .description-price-info .book {
    width: 102%;
  }
  .price-box {
    width: 100%;
  }
  .checkout-tab-container .tc-col .h1 {
    font-size: 24px;
  }
  .wizard .guests-room-tab div#step1 .guests-rooms-main {
    width: 90%;
  }
} 

